* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

main {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .75)), url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

main nav {
    display: flex;
    justify-content: space-between;
    margin-inline: 64px;
}

main nav figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

main ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

.container {
    display: flex;
    align-items: center;
    gap: 36px;
}

header {
    max-width: 350px;
    width: 100%;
    margin: 64px 36px 0 64px;
}

header img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 16px;
}

aside {
    max-width: 680px;
    width: 100%;
}

aside p {
    text-align: justify;
}

aside button {
    display: block;
    background-color: #33CE74;
    font-size: 20px;
    color: #fff;

    margin-top: 36px;
    margin-inline: auto;
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
}

section {
    background-color: #eee;
    color: #000;
}

section figcaption {
    color: #000;
}

section h2 {
    text-align: center;
    padding-block: 64px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

section figure {
    width: 400px;
}

section figure img {
    object-position: left;
    width: 100%;
    height: 400px;  

    object-fit: cover;
    background-size: cover;
}