* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body {
  padding: 30px;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  display: flex;
  gap: 30px;
}

.foto {
  width: 150px;
  border-radius: 50%;
}

.col-1 h2 {
  margin-bottom: 20px;
}

.col-1 {
  width: 350px;

  display: grid;
  gap: 30px;
}

.project-title,
.col-1>div,
.post,
.issues {
  background-color: var(--bg-cards);
  border-radius: 20px;
}

.col-1 .perfil {
  padding: 32px 76px 49px 76px;
  text-align: center;
}

.col-1 .perfil h1 {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 23px;
}

.col-1 .perfil h2 {
  font-size: 13px;
}

.col-1 .social-media {
  display: flex;
  flex-direction: column;
  gap: 28px;

  padding: 30px 40px;
}

.col-1 .social-media a {
  display: flex;
  align-items: center;
  gap: 20px;

  text-decoration: none;
  color: var(--text-color);
}

.col-1 .tech a {
  display: inline-block;
  flex-wrap: wrap;
  gap: 20px;
}

.experience,
.education {
  padding: 30px 20px;
}

.col-1 li {
  margin-left: 40px;
  margin-bottom: 20px;
}

.col-2 {
  height: 80%;

  display: grid;
  gap: 30px;
}

.col-2 .project-title {
  display: flex;
  justify-content: space-between;
}

.col-2 .project-title h2,
.col-2 .project-title p {
  padding: 30px;
}


.col-2 .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.col-2 .card {
  background-color: var(--bg-cards);
  padding: 30px;
  border-radius: 20px;
  width: 445px;
}

.col-2 .cards p {
  padding-block: 22px;
}

.col-2 .cards-title,
.col-2 .branch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.col-2 .branch {
  justify-content: space-between;
}

.col-2 .cards .follow {
  display: flex;
}

.col-2 .post {
  padding: 30px;
}

.col-2 .issues {
  display: flex;
  flex-direction: row;
  gap: 20px;

  padding: 40px 30px;
}

.tech {
  padding: 16px;
}

.tech div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.tech span {
  padding: 12px 16px;
  border-radius: 6px;
  background-color: var(--bg-techs);
}

.issues .context h2 {
  font-size: 18px;
}

.issues .context h3 {
  font-size: 16px;
  padding-top: 20px;
}

.issues .context span {
  margin-right: 20px;
}

@media (max-width: 900px) {
  body {
      justify-content: center;
      flex-direction: column;
  }

  .col-1,
  .col-2 {
      width: 100%;
  }

  .col-1 {
      width: auto;
  }

  .col-2 .issues {
      flex-direction: column;
  }

  .col-2 .issues img {
      width: 120px;
      margin: auto;
  }

  .col-2 .issues .context h3 {
      padding-block: 16px;
  }

  .col-2 .card {
      width: 100%;
  }

}

@media (max-width: 450px) {
  body {
      padding: 1%;
  }

}
