* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;

    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

.menu,
.close {
    display: none;
}

header {
    background-color: var(--purple-bg);

    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 1.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6.4rem 13.6rem;
}

header nav ul {
    display: flex;
    gap: 3.2rem;
}

header a {
    color: var(--white);
}

header .active {
    font-weight: 700;
}

header div {
    display: flex;
}

header div input {
    width: 23rem;
    height: 4.4rem;

    background-color: var(--dark-bg);

    outline: none;
    border: none;
}

header div input::placeholder {
    font-size: 1.4rem;
    color: var(--light-purple);

    padding: 1.4rem 0 1.4rem 2.6rem;
}

header div img {
    padding: 1rem 2.3rem;

    background-color: var(--button-bg);
}

main {
    background-color: var(--purple-bg);

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-inline: 13.6rem;

    padding-bottom: 6.4rem;
}

main div h2 {
    font-family: 'Poppins', 'sans-serif';
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 5.4rem;

    color: var(--button-bg);
}

main div p {
    color: var(--light-purple);
    font-family: 'Roboto';
    text-align: justify;

    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;

    padding: 1.6rem 3rem 2.4rem 0;
}

main div div a {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;

    color: var(--button-bg);
}

main div div {
    display: flex;
    gap: .8rem;
}

.row {
    height: .6rem;
    background-color: var(--green);
}

.primeira-section, .segunda-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-inline: 13.6rem;
    padding-top: 6.4rem;

    font-family: 'Roboto';
    color: var(--purple-bg);
}

.primeira-section h2, .segunda-section h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

.primeira-section p, .segunda-section p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.primeira-section figure img {
    width: 50rem;
    padding-bottom: 1.6rem;
}

.primeira-section .post {
    width: 50rem;
}

.primeira-section .post h2 {
    padding-block: 1.6rem;
}

.primeira-section .side div:nth-child(1)::after {
    content: "";
    width: 40rem;
    height: .1rem;

    display: inline-block;
    background-color: var(--light-purple);
}

.primeira-section .side div:nth-child(2) {
    padding-top: 2.4rem;
}

.primeira-section .side h2, .segunda-section h2{
    padding-block: .8rem;
}

.primeira-section .side {
    width: 40rem;
}

.segunda-section {
    padding-bottom: 6.4rem;
    gap: 3rem;
}

.segunda-section div {
    width: 32rem;
}

.segunda-section img {
    width: 100%;
}

@media (max-width: 1024px) {

    body {
        overflow-x: hidden;
    }

    .close,
    .menu {
        display: block;
    }

    header {
        display: grid;
        gap: 2.8rem;
        grid-template-areas:
            "logo menu"
            "search search";
        grid-template-rows: 1fr 1fr;
    }

    header .logo {
        grid-area: logo;
    }

    header .menu {
        grid-area: menu;
    }

    header .search {
        grid-area: search;
    }

    header .search input {
        width: 100%;
    }

    header nav {
        background-color: #000;
        width: 100vw;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;


        transition: transform 200ms;
        transform: translateX(100%);

        z-index: 1;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 15.6rem;
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 4.2rem;

        color: var(--white);
    }

    header nav img {
        position: absolute;
        right: 2.4rem;
        top: 3.6rem;
    }

    header .active {
        transform: translateX(0);
    }

    main {
        flex-wrap: wrap;
    }

    main div h2 {
        font-size: 2.4rem;
        text-align: center;

    }

    main div div {
        padding-bottom: 2.9rem;
    }

    .primeira-section, .segunda-section{
        justify-content: center;
    }

    section h2{
        text-align: center;
    }

    .post, .side {
        width: 100%;
    }

    .post p {
        padding-bottom: 6.4rem;
    }
}
